<div class="container pt-5 col-6 text-center">
  <h1 class="pb-5">New game</h1>
  <ul>
    <% @letters.each do |letter| %>
      <li class="btn btn-primary">
        <%= letter.capitalize %>
      </li>
    <% end %>
  </ul>

  <p>
    What is the longest word you can find?
  </p>

  <form action="/score" method="POST" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name='word'>
    <input type="submit">
  </form>
</div>
