<div class="container pt-5 col-4 text-center">
  <h1 class="pb-5">New game</h1>
  <ul>
    <% @letters.each do |letter| %>
      <li class="btn btn-primary">
        <%= letter.capitalize %>
      </li>
    <% end %>
  </ul>
</div>
